.ps-item {
  position: relative;
  text-align: left;
  overflow: hidden;
  @include light-text;
  text-shadow: 2px 2px 0 darken($color-brown, 10%),
    1px 1px 0 darken($color-brown, 10%),
    1px 1px 0 darken($color-brown, 10%),
    1px 2px 0 darken($color-brown, 10%),
    2px 1px 0 darken($color-brown, 10%),
    0px 2px 0 darken($color-brown, 10%),
    2px 0px 0 darken($color-brown, 10%);
  box-shadow: 0 2px 3px -1px $color-brown-light;
  background-color: $color-brown;

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.ps-title {
  padding: 10px 20px;
  bottom: auto;
  background-color: rgba($color-brown-light, .9);
  transition: background-color $transition;

  @include item-hover {
    background-color: rgba($color-brown-light, 0);
  }
}

.ps-image-container {
  background-size: cover;
  background-position: center;
  z-index: 1;
  transition: opacity $transition, transform $transition ease-in-out;

  @include item-hover {
    transform: rotate(-4deg) scale(1.1);
    opacity: .1;
  }
}

.ps-description {
  padding: 20px;
  top: auto;
  transform: translateY(100%);
  transition: transform $transition ease-in-out;

  @include item-hover {
    transform: none;
  }
}