body {
  font-family: $font-body;
  @include fs(1);
  background-color: $color-brown;
  color: $color-off-white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

strong,
b {
  font-style: 900px;
}

.page-title {
  @include fs(3);
}

.ps-title {
  @include fs(2);
}